
@layer utilities {
  .cyber-glitch {
    text-shadow: 0 0 2px rgba(249, 115, 22, 0.7), 0 0 5px rgba(249, 115, 22, 0.5);
    @apply animate-flicker;
  }
  
  .text-outline {
    -webkit-text-stroke: 1px rgba(249, 115, 22, 0.7);
    text-stroke: 1px rgba(249, 115, 22, 0.7);
  }
  
  .glass-panel {
    @apply bg-cyber-black/60 backdrop-blur-md border border-white/10 p-4;
  }
}
